* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    color: white;
}

header {
    background-color: #1e8449;
    text-align: center;
    padding: 15px;
}

.header-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 60px;
    border-radius: 50%;
}


nav {
    margin-top: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


.hero {
    background: url('img/fondo1.png') no-repeat center center;
    background-size: cover;
    height: 90vh;
}

.contenidotodo {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenido h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.contenido p {
    font-size: 20px;
    margin-bottom: 20px;
}

/* BOTON */
.btn {
    padding: 12px 25px;
    background-color: #27ae60;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #1e8449;
}

/* SECCIONES */
.seccion {
    padding: 50px 20px;
    text-align: center;
}

.productos {
    background-color: #d5f5e3;
    color: #145a32;
}

.ubicacion {
    background-color: #a9dfbf;
    color: #145a32;
}


.contacto {
    background-color: #82e0aa;
    color: #145a32;
}

form {
    max-width: 400px;
    margin: auto;
    text-align: left;
}

.campo {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1e8449;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #145a32;
}

/* FOOTER */
footer {
    background-color: #145a32;
    text-align: center;
    padding: 15px;
}