 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            height: 100vh;
            color: white;

            background: url('https://images.unsplash.com/photo-1512820790803-83ca734da794') no-repeat center center/cover;
        }

        .contenidotodo {
            background-color: rgba(0, 0, 0, 0.6);
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .contenido {
            max-width: 600px;
        }

        h1 {
            font-size: 48px;
            margin-bottom: 15px;
        }

        p {
            font-size: 20px;
            margin-bottom: 20px;
        }

        .btn {
            padding: 12px 25px;
            background-color: #f1c40f;
            color: black;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
        }

        .btn:hover {
            background-color: #d4ac0d;
        }